#langages{
    display: flex;
    justify-content: space-evenly;
}

#langages img{
    width: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#profile h1{
    color: green;
    font-size: 2rem;
}